<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Hometask6">
      <section name="DirectoriesComparator" type="System.Configuration.NameValueSectionHandler"/>
      <section name="ExcelFileComparator" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="LoggerLocation" value="\Log.txt"/>
  </appSettings>
  <Hometask6>
    <DirectoriesComparator>
      <add key="firstDir" value="D:\first"/>
      <add key="secondDir" value="D:\second"/>
      <add key="Result" value="ResultOfDirectoriesComparison"/>
      <add key="UI" value="EXCEL"/>
    </DirectoriesComparator>
    <ExcelFileComparator>
      <add key="File" value="Test"/>
      <add key="Result" value="ResultOfListsComparison"/>
      <add key="UI" value="EXCEL"/>
    </ExcelFileComparator>
  </Hometask6>
</configuration>