<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Hometask6">
      <section name="DirectoriesComparator" type="System.Configuration.NameValueSectionHandler"/>
      <section name="ExcelFileComparator" type="System.Configuration.NameValueSectionHandler"/>
      <section name="OneDriveHomework" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="LoggerLocation" value="\Log.txt"/>
  </appSettings>
  <Hometask6>
    <DirectoriesComparator>
      <add key="firstDir" value="D:\first"/>
      <add key="secondDir" value="D:\second"/>
      <add key="Result" value="ResultOfDirectoriesComparison"/>
      <add key="UI" value="EXCEL"/>
    </DirectoriesComparator>
    <ExcelFileComparator>
      <add key="File" value="Test"/>
      <add key="Result" value="ResultOfListsComparison"/>
      <add key="UI" value="EXCEL"/>
    </ExcelFileComparator>
    <OneDriveHomework>
      <add key="downloadLink" value="https://onedrive.live.com/download?cid=AAE7BB4CA4CED132???resid=AAE7BB4CA4CED132%214439???authkey=AI62ZlogPnJYfFk???em=2"/>
      <add key="fileName" value="test"/>
      <add key="result" value="ResultOf_OneDrive_FileComparison"/>
      <add key="directory" value="D:\Downloads"/>
      <add key="UI" value="EXCEL"/>
      <add key="browser" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"/>
    </OneDriveHomework>
  </Hometask6>
</configuration>